PORT=3001 # API port

NODE_ENV=dev-worker # dev-api, dev-worker, prod-api, prod-worker

SECRET_KEY= # your secret key, anything is ok

#JWT
JWT_ACCESS_EXPIRED=20000
JWT_REFRESH_EXPIRED=30000
JWT_SECRET=access_token
JWT_REFRESH_REDIS_ADMIN_KEY=xxxxxxx
# 60 * 60 * 12 * 1000 = 12h

# notification
MAIL_HOST=smtp.gmail.com
MAIL_USER= # gmail account
MAIL_PASS= # gmail application key
MAIL_RECEIVED_ADDRESS= # email address that you want to receive the notification
TELEGRAM_TOKEN= # telegram bot token
TELEGRAM_CHAT_ID= # telegram chat id

# TYPEORM
TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost # MySQL host
TYPEORM_PORT=3306 # MySQL port
TYPEORM_USERNAME= # MySQL username
TYPEORM_PASSWORD= # MySQL password
TYPEORM_DATABASE= # schema name
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_MIGRATIONS=dist/database/migrations/*.js
TYPEORM_ENTITIES_DIR=dist/**/*.entity.js

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB_CACHE=6
REDIS_PASS=

#BLOCK REQUEST
LIMIT_REQUEST=5
LIMIT_HOURS_BLOCK_REQUEST=4

#S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=

ENDPOINT_API_SSO=
CLIENT_ID_SSO=
CLIENT_SECRET_SSO=

SIGNATURE_TEXT="Welcome. By signing this message you are verifying your digital identity. This is completely secure and does not cost anything!"
GAME_MARKET_ADMIN_FRONTEND=

#set cookie
KEY_ACCESS_SET_COOKIE=access_token
KEY_REFRESH_SET_COOKIE=refresh_token
SECRET_SET_COOKIE=
EXPIRE_ACCESS_SET_COOKIE=3600000
EXPIRE_REFRESH_SET_COOKIE=1296000000

#KMS CMK DATA SEED
KMS_CMK_ID=
KMS_CMK_REGION=
KMS_CMK_ALIAS=
KMS_CMK_ARN=

#AES KEY
AES_KEY=
